* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --main-color: #429755;
}
.container {
    height: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* -----Header----- */
.header {
    border-bottom: 1px solid var(--main-color);
    background-color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}
.header-menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header-menu span {
    font-size: 1.1rem;
    font-weight: 300;
    margin-left: 13px;
    color: #000;
}
.header-menu span:hover {
    text-decoration: underline;
}
.header-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu .logo-block {
    height: 100%;
    width: 250px;
    background: url('../img/waste_logo.svg') no-repeat;
    background-position: center;
}

/* Searchbar */
.searchbar-wrapper {
    position: fixed;
    top: 70px;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
}
.hide {
    display: none;
}
.searchbar {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 0 20px;
}
.searchbar .searchbar-input {
    width: 100%;
    font-size: 1.1rem;
    padding-left: 30px;
    border: 1px solid silver;
    border-radius: 0;
}
.searchbar .searchbar-btn {
    padding: 13px 40px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.1rem;
    margin-left: 20px;
    cursor: pointer;
}

/* -----Sidebar navigation----- */
.sidebar-nav {
    /* display: inline-block; */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    width: 270px;
    align-self: start;
    position: sticky;
    top: 100px;
    z-index: 98;
}
.main-block {
    display: flex;
}
.tablet-banners {
    display: none;
    margin-left: auto;
}
.mobile-banner2 {
    display: none;
    background-color: #7d7d7d;
    height: 100px;
    width: 320px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}
/* Catalog & subcatalog arrow icons*/
.sidebar-nav .arrow::before, .subcatalog-ul .arrow::before {
    position: absolute;
    right: 15px;
    top: 50%;
    content: "";
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    transform: rotate(45deg) translateY(-50%);
}
.sidebar-nav a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 25px 10px 15px;
    color: #000;
    width: 270px;
}
.mm-btn_next i.fas {
    color: rgba(0,0,0,.3);
}
.sidebar-nav a:hover{
    text-decoration: underline;
}
.sidebar-nav li {
    list-style: none;
    width: 270px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.8);
    background-color: #fff;
}
.sidebar-nav .catalog-ul li:last-child, .subcatalog-ul li:last-child {
    border-bottom: none;
}
.catalog {
    position: relative;
}
.catalog > ul > li:first-child > a {
    background-color: var(--main-color);
    font-size: 1.2rem;
    padding-left: 8px;
    letter-spacing: 1px;
    color: #fff;
}
.subcatalog-ul li:first-child {
    border-top: 1px solid transparent;
}
.subcatalog-ul {
    position: absolute;
    display: none;
    background-color: #fff;
    top: 42px;
    left: 268px;
    z-index: 100;
    height: 91%;
    overflow: auto;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.subcatalog-ul li {
    overflow: visible;
}
.catalog-ul a:hover {
    background-color: var(--main-color);
    color: #fff;
}
/* Subcatalog info */
.sidebar-nav .info, .sidebar-nav .info2 {
    background-color: #fff;
    position: absolute;
    display: none;
    left: 558px;
    top: 42px;
    z-index: 100;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    height: 91%;
}
.sidebar-nav .active {
    display: block;
}
.sidebar-nav .direct-active {
    left: 270px;
    display: block;
}

.sidebar-nav .info h5,.sidebar-nav .info2 h5 {
    font-weight: normal;
    font-size: inherit;
}
.sidebar-nav .info span, .sidebar-nav .info2 span {
    font-size: 13px;
    font-style: italic;
    font-weight: 200;
}
.sidebar-nav .info span.last-date, .sidebar-nav .info span.quantity, .sidebar-nav .info2 span.last-date, .sidebar-nav .info2 span.quantity {
    display: block;
    margin-top: 8px;
}
/* Subnav */
.fixed-subnav {
    position: fixed;
    top: 80px;
    background-color: #fff;
    z-index: 90;
    width: 100%;
}
.fixed-subnav .container {
    padding: 0 10px;
}
.subnav li {
    list-style: none;
}
.subnav a {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 10px 15px;
    color: #000;
}

.subnav a:hover {
    background-color: var(--main-color);
    color: #fff;
}
.subnav ul.mddh {
    display: flex;
    justify-content: space-between;
    padding: 14px 30px;
    padding-bottom: 12px;
    padding-left: 311px;
    align-items: center;
    margin-bottom: 0;
    margin-top: 6px;
}

/* -----Info section----- */
.info-section {
    margin-top: 145px;
    display: inline-block;
    width: 100%;
}

/* banner-block */
.banner-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}
.banner-block .banner {
    background-color: grey;
    /*background: url("../img/ ...") center center no-repeat;*/
    /*background-size: cover;*/
    height: 200px;
    width: 300px;
    margin: 20px;

}
/* ads */
h2.title-section {
    margin: 20px 0;
    font-weight: 600;
    font-size: 24px;
    color: #312121;
}
.activity {
    font-weight: 600;
    color: #235281;
    text-decoration: none;
}
.activity:hover {
    text-decoration: underline;
}
.location {
    font-weight: 400;
}
.category {
    color: #008e3e;
    font-weight: normal;
}
.location sup {
    font-style: italic;
}
.ads, .business-cards {
    padding: 0 20px;
    margin-left: 10px;
}
/* business-cards */

.business-card-item {
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 300;
}
.business-card-item a {
    font-weight: 600;
    color: #004a80;
    text-decoration: none;
}
.business-cards{
    margin-top: 36px;
}
.business-card-item a:hover {
    text-decoration: underline;
}
.business-card-item sup {
    font-style: italic;
}
.business-card-item p.business-p{
    margin-bottom: 0px;
}
/* -----Footer----- */
.footer {
    padding: 50px 0;
    border-top: 1px solid var(--main-color);
    margin-top: 50px;
}
.footer .flex-footer {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
}
.footer input {
    width: 200px;
}
.subscribe-block1 {
    border: 1px solid var(--main-color);
    padding: 10px;
    min-height: 180px;
    max-width: 272px;

}
.subscribe-block1 p {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.subscribe-block1 input {
    width: 95%;
    font-size: 13px;
    border: 1px solid var(--main-color);
    padding: 3px 8px;
    margin: 5px 0;
}
.subscribe-block1 button {
    background-color: #56BB43;
    border: none;
    padding: 5px 10px;
    color: #fff;
    margin-top: 5px;
}
.subscribe-block2 {
    border: 2px solid #7CA534;
    padding: 0 10px;
    background-color: #E4F5C9;
    max-width: 272px;

}
.subscribe-block2 .form-item {
    margin-top: 8px;
}
.subscribe-block2 .form-item:first-child {
    margin-top: 0;
}
.subscribe-block2 .form-item:nth-child(2) {
    margin-top: 5px;
}
.subscribe-block2 .form-item:nth-child(2) a {
    font-size: 14px;
    font-weight: 900;
    color: #000;
}
.subscribe-block2 .form-item:last-child a {
    font-size: 11px;
    color: #000;
}
.subscribe-block2 input {
    border: 1px solid #7CA534;
    padding: 1px 0;
    width: 100%;
}
.social-links.tablet-show{
    display: none;
}
.subscribe-block2 button {
    background-color: #7CA534;
    border: 1px solid #4e6822;
    color: #fff;
    padding: 2px 12px;
    font-size: 12px;
}
.subscribe-block2 p {
    font-size: 11px;
}
.subscribe-block2 .subscribe-count {
    letter-spacing: 1px;
    text-align: right;
    margin-right: 15px;
    line-height: .8;
}
.subscribe-block2 .subscribe-count span {
    letter-spacing: normal;
    display: block;
}
.subscribe-block2 .form-item:nth-child(4), .subscribe-block2 .form-item:nth-child(5) {
    display: inline-block;
}
.subscribe-block2 .form-item:last-child {
    text-align: center;
}

/* Footer-news */
.footer-news {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.footer-news .news-links a {
    text-align: center;
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 15px;
}
.footer-news .news-links a:first-child {
    margin-bottom: 10px;
}
.footer-news .news-links a:last-child {
    margin-top: 10px;
}
.footer-news .news-icon {
    padding-left: 15px;
}
.footer-news a:hover {
    text-decoration: underline;
}

/* Footer info */
.footer-info .footer-nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.footer-info .footer-nav li {
    text-align: center;
    margin-bottom: 20px;
    list-style: none;
}
.footer-nav ul{
    padding: 0;
}
.footer-info .social-links li {
    list-style: none;
    margin: 5px;
}
.footer-info .social-links ul {
    display: flex;
    padding: 0;
    justify-content: center;
}
.footer .warning {
    text-align: center;
}
.footer .warning span {
    color: #56BB43;
    font-weight: 900;
}
.footer-info a:hover {
    text-decoration: underline;
}

/* Tablet */


/* back-drop */
#back-drop {
    width: 100%;
    height: 100%;
    z-index: 95;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.mCSB_scrollTools {
    width: 20px;
    background-color: lightgrey;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 18px;
    background-color: white;
    border-radius: 0;
}
.mCSB_inside > .mCSB_container {
    margin-right: 20px;
}
.mCSB_draggerRail {
    display: none;
}
.title-nav{
    background-color: #429755;
    color: white;
    padding: 10px 15px 10px 15px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    display: block;

}
a.mm-navbar__title {
    color: #fff !important;
    background-color: #429755;
}
.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__btn, .mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__text {
    background: rgba(255,255,255,.4);
    background: var(--mm-color-background-emphasis);
}
a.mm-navbar__title {
    color: #fff !important;
    background-color: #429755;
}
.sidebar-nav a{
    width: 100%;
    font-size: 14px;
}
.sidebar-nav a i{
    float: right;
}
.text-logo.search-btn img{
width: 27px;
}
.sidebar-nav ul{
    padding: 0;
}

.dropdown-toggle::after {
    /* right: -2px; */
    display: inline-block;
    font-size: 0px;
    margin-left: 0.255em;
    vertical-align: .255em;
    content: "";
    border-top: 12px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
}
.btn.lang {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 7px 15px;
    color: #000;
    min-width: 80px;
    border-radius: 0;
}
.btn.lang:focus {
    box-shadow: none;
}
.btn.lang:hover {
    color: #fff;
    background-color: #429755;
}
.btn.lang:hover {
    color: #fff;
    background-color: #429755;
}
.mobile-banner{
    display: none;
}
.mobile-banner{
    margin-top: 40px;
}
.mobile-banner img{
    display: block;
    margin: 10px auto;
    height: 50px;
}
#menu:not(.mm-menu),
#mm-menu:not(.mm-menu) {
    display: none!important;
}
.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__btn, .mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__text {
    background: #429755;
    color: #ffffff;
}

.mm-menu_selected-parent .mm-listitem_selected-parent>.mm-listitem__btn i.fas{
    color: #ffffff;
}
.mm-listitem__btn:hover i.fas{
    color: rgba(0,0,0,.7) !important;
}
.mm-listitem__btn:hover, .mm-listitem__text:hover {
    color: rgba(0,0,0,.7) !important;
    background: #bcf0bb !important;
}



/*CONTENT*/

.content {
    margin-top: 20px;
}

.content__mddh{
    padding-left: 0px!important;
    justify-content: space-around!important;
}
.content__ads {
    position: relative;
}
.nofixed-subnav,
.nofixed-header{
    position: static!important;
    z-index: 1!important;
}

.crumbs__link:not(:last-of-type)::after {
    content: '>';
    margin: 0 10px;
}

.crumbs__link a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.crumbs__home i{
    font-size: 25px;
    color: rgba(2, 80, 198, 0.60);
}


.page-title{
    font-size: 22px;
    margin: 10px 0 40px 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.content__show {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.content__ads--block{
    background-color: #808080FF;
    /*width: 100%;*/
    max-width: 160px;
    height: 600px;
}
.content__ads--block a {
    width: 100%;
    height: 100%;
    display: block;
}
.sticky-md-top{
    top: 30px;
    z-index: 1;
}
/*.content__ads--block-2 {*/
/*    background-color: #808080FF;*/
/*    !*width: 100%;*!*/
/*    max-width: 160px;*/
/*    height: 600px;*/
/*    margin-top: 20px;*/
/*}*/

.sticky-top {
    top: 40px;
    z-index: 1;
}
/* Визитки*/

.busines-cards{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.busines-cards_prestizh-block {
    background-color: rgb(252, 252, 163);
    padding: 20px 0;
    margin: 20px 0 30px;
}
.busines-cards_prestizh-block_title {
    text-align: center;
}
.card-padding{
    padding-left: 30px;
}
.busines-cards_free-cards {
    margin: 30px 0;
}
.pagination a{
    color: #004a80;
    padding: 0 7px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.page-item-arrow {
    padding: 0 20px;
}

/*FOOTER*/

/*.footer__content {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*}*/

/*.footer__content--item{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*    max-width: 668px;*/
/*}*/

.footer__content--list{
    list-style: none;
}
.footer__content--list a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 17px;
}
.footer__content--list a:hover {
    text-decoration: underline ;
}

.footer__content--social{
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.footer__content--social li {
    list-style: none;
}

.footer__warn{
    padding-top: 40px;
    font-family: sans-serif;
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
}
.footer__warn span
{
    font-weight: 600!important;
    font-family:sans-serif!important;
}
.w-100 {
    margin: 0;
}

.btn-up {
    padding: 10px 12px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 50px;
    left: 50px;
    text-decoration: none;
    z-index: 2;
    transition: all 400ms;
    opacity: 0;
    pointer-events: none;
}
.btn-up.active {
    opacity: 1;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
#mm-menu{
    opacity: 0;
    visibility: hidden;
}

.weight-bold{
    font-weight: 700!important;
    margin: 0;
    padding: 0;
}